* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

#nav-placeholder {
  margin-bottom: -35px;
}

#intro {
  display: flex;
  align-items: center;
  height: 21rem;
  width: 100%;
  background-color: aliceblue;
  margin-bottom: 5px;
}

#intro img {
  margin-right: 200px;
  margin-top: 1px;
}

#intro .content {
  flex: 1;
  margin: 110px;
}

#intro h3 {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#intro p {
  margin-top: 0rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

#note {
  width: auto;
  background-color: aliceblue;
  padding-bottom: 0px;
  height: 25rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#note p {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  padding: 0;
}

.row * {
  margin: 0 auto;
  min-width: 300px;
}

.row a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem;
}

.row a:hover {
  color: red;
}

.block {
  text-align: center;
  font-size: 2rem;
  color: black;
  border-radius: 0.1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.block:nth-child(2) {
  background-color: aliceblue; /* Red */
}

.block:nth-child(3) {
  background-color: aliceblue; /* Green */
}

.block:nth-child(4) {
  background-color: aliceblue; /* Orange */
}

#why {
  height: 20rem;
  width: 100%;
  margin-top: 5px;
  background-color: aliceblue;
  margin-bottom: -5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#why h2 {
  margin-left: 9rem;
  padding-top: 2rem;
  font-size: 2.4rem;
}

#why p {
  margin-left: 9rem;
  font-size: 2rem;
  margin-top: 1rem;
  padding-top: 0rem;
}

#why button {
  height: 4rem;
  width: 13rem;
  background-color: aliceblue;
  margin-left: 9rem;
  margin-top: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#why button a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

#why button a:hover {
  color: red;
}

#footer {
  background-color: whitesmoke;
  height: 6rem;
}

#footer p {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 2rem;
}

@media screen and (min-width: 1501px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
  html {
    font-size: 70%;
  }
  #note {
    height: 40rem;
    display: flex;
    gap: 10px;
    padding: 1rem;
    flex-direction: column;
  }
  #row-flex {
    display: flex;
    gap: 10rem;
    margin-left: 13rem;
  }

  .row {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 55%;
  }

  #intro {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 2rem;
  }

  #intro img {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 24%;
    /* height: 1rem; */
  }

  #intro .content {
    margin: 0;
  }
  #note {
    height: 45rem;
    display: flex;
    gap: 10px;
    padding: 1rem;
    flex-direction: column;
  }
  #row-flex {
    display: flex;
    gap: 10rem;
    margin-left: 6%;
  }

  .row {
    flex-direction: column;
    gap: 2rem;
  }

  #why h2,
  #why p {
    margin-left: 2rem;
  }

  #why button {
    margin-left: 2rem;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 45%;
  }

  #intro {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 2rem;
  }

  #intro img {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 70%;
    height: auto;
  }

  #intro .content {
    margin: 0;
  }

  .row {
    flex-direction: column;
  }

  #why h2,
  #why p {
    margin-left: 2rem;
  }

  #why button {
    margin-left: 2rem;
  }

  #note {
    height: auto;
    padding: 2rem;
  }

  #note p {
    font-size: 2rem;
  }
}

@media (max-width: 542px) {
  html {
    font-size: 35%;
  }

  #intro img {
    width: 20%;
    height: auto;
  }

  #intro .content {
    margin: 0;
  }

  #note {
    height: 45rem;
    display: flex;
    flex-direction: column;
  }
  #semester-note p {
    font-size: 3rem !important;
  }
  #row-flex {
    display: flex;
    gap: 10rem;
    margin-left: 4rem;
  }

  .row {
    flex-direction: column;
    gap: 1rem;
    /* width: 1rem !important; */
  }
  .row * {
    margin: 0 auto;
    min-width: 130px;
  }

  #note {
    height: auto;
    padding: 1rem;
  }

  #note p {
    font-size: 1.5rem;
  }
}
