html {
  font-size: 62.5%;
}

#subject {
  height: 18rem;
  width: auto;
  background-color: whitesmoke;
}

#subject h3 {
  margin-left: 10rem;
  font-size: 2rem;
  padding-top: 2rem;
}

#subject h2 {
  margin-left: 10rem;
}

#subject p {
  margin-left: 10rem;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 998px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 20%;
  }
  #subject {
    height: 40px;
    margin-bottom: 50px;
    margin-top: -17px;
  }

  #subject h3 {
    font-size: 11px;
  }

  #subject h2 {
    font-size: 9px;
  }

  #subject p {
    font-size: 9px;
    font-weight: bold;
  }
}
